[Unit]
Description=Wt-comments running the built-in http server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
User=wtcomments
Group=wtcomments
Umask=007
Type=simple
Restart=on-abort
PIDFile=/var/run/wt/wtcomments.pid
ExecStart=./wtcomments -p /var/run/wt/wtcomments.pid --docroot /usr/share/Wt/ --http-address 0.0.0.0 --http-port 9090
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
